.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }
}

span {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    background-color: #2a2a2a;
}

.container,
.container * {
    --height: min(90vh, calc(90vw / 7 * 4));
    --width: calc(var(--height) * 7 / 4);

    --gap: calc(var(--height) * 0.05);
}

.container {
    width: var(--width);
    height: var(--height);
    background-color: #2a2a2a;
    border-radius: 24px;

    padding: 0;

    gap: var(--gap);

    display: flex;
    flex-direction: column;
}
.buttons-container {
    flex: 1;
    display: flex;
    gap: var(--gap);
    width: 100%;
}
.buttons-container > * {
    width: auto;
    height: auto;
}
.file-select,
.optimize-btn {
    flex: 1;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.update-btn {
    border-radius: 16px 16px 0 0;
}

.download-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 16px 16px;
}

.results-block {
    aspect-ratio: 1/1;
    flex: 1;
    /* flex-shrink: 0; */
    /* height: 376px; */
    display: flex;
    flex-direction: column;
}
.file-select,
.download-btn {
    background-color: #222222;
}

.download-btn.succesful {
    background-color: #25382c;
}

.file-select:hover,
.download-btn:hover {
    background-color: #2d2d2d;
}

.download-btn.succesful:hover {
    background-color: #35483c;
}

.optimize-btn {
    background-color: #7fbeb3;
}
.optimize-btn:hover {
    background-color: #5d9c91;
}
.text-center {
    text-align: center;
}
.icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px;
}
.file-select .text-primary,
.download-btn .text-primary {
    color: #e5e5e5;
    font-size: 24px;
}
.file-select .text-secondary,
.download-btn .text-secondary {
    color: #808080;
    font-size: 16px;
    margin-top: 8px;
}
.optimize-btn .text-primary {
    color: #1a1a1a;
    font-size: 28px;
    font-weight: 500;
}
.optimize-btn .text-secondary {
    color: #333333;
    font-size: 16px;
    margin-top: 8px;
}
.input-group {
    flex: 0;
    display: flex;
    height: calc(var(--height) * 0.11);
    align-items: center;
    gap: var(--gap);
}
.aging-input {
    flex: 1;

    width: 0;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 16px;
    border: 0;
    padding: 0;
    padding-left: calc(var(--gap));
    font-size: 22px;
    color: #333;
}
.aging-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7fbeb3;
}
.checkbox-group {
    height: 100%;
    flex: 0.5;
    flex-grow: 0;
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 16px;
    transition: background-color 0.2s;
}

.checkbox-group:hover {
    background-color: #2d2d2d;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.custom-checkbox {
    appearance: none;
    padding: 0;
    margin: 0;
    flex: 1;
    margin-left: calc(var(--gap) / 2);
    margin-right: calc(var(--gap) / 2);
    width: var(--gap);
    height: var(--gap);
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: #2a2a2a;
}
.custom-checkbox:checked {
    background-color: #7fbeb3;
    border-color: #7fbeb3;
}
.custom-checkbox:checked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--gap);
    background: white;
    transform: scale(0.8);
}
.checkbox-label {
    color: #e5e5e5;
    cursor: pointer;
    margin-right: calc(var(--gap) / 2);
    font-size: 18px;
}
.file-info {
    color: #d1d5db;
    font-size: 14px;
    margin-top: 8px;
}
